<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://{URL}.crm.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="method" value="ClientSecret" />
    <add key="mfaAppId" value="{CLIENTID}" />
    <add key="mfaClientSecret" value="{CLIENTSECRET}" />
    <add key="entities" value="environmentvariabledefinition,environmentvariablevalue,systemuser,timezonedefinition,usersettings" />
    <add key="out" value="..\..\Driv.CustomApis.Code\Entities" />
    <add key="servicecontextname" value="XrmContext" />
  </appSettings>
</configuration>